﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="Presentation.Index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>

              <asp:Label ID="Label1" runat="server" Text="ARTURO CALLE "></asp:Label><br /><br />
            <asp:Label ID="Label2" runat="server" Text="INGRESE EL VALOR DEL TRAJE"></asp:Label><br />
            <asp:TextBox ID="TBprice" runat="server"></asp:TextBox><br />
            
            <asp:Label ID="msj1" runat="server" Text="Label"></asp:Label><br />
            <asp:Label ID="msj2" runat="server" Text="Label"></asp:Label><br />

            <asp:Button ID="Button1" runat="server" Text="calcular precio" OnClick="Button1_Click" />

            <br />
 
        </div>
    </form>
</body>
</html>
